@mixin font-weight($font-weight) {
  font-weight: $font-weight;
}
@mixin logo-font() {
  font-size: 1.8em;
  font-size: 2.4em;
  font-weight: 400;
  font-family: 'Oleo Script Swash Caps', cursive;
}
@mixin body-font() {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
@mixin nav-font() {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
}
@mixin title-font() {
  @include margin(0);
  font-size:1.2em;
  color: shade($app-color, 2%);
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}
@mixin header-font() {
  @include margin(0);
  font-size:1.7em;
  color: shade($app-color, 2%);
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}
@mixin normal-transition-speed() {
  @include transition-duration(0.5s);
}
@mixin mobile-button(){
  border: $white-border;
  @include pad(0.3em 0.5em);
  @include border-top-radius(0.2em);
  @include border-bottom-radius(0.2em);
  background: rgba(0,0,0,0.2);
  @include media($tablet) {
    border: 0;
    @include pad(0);
    @include border-top-radius(0);
    @include border-bottom-radius(0);
    background: none;
  }
}
@mixin background-element(){
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
