
#top-nav {
  @include span-columns(12);
  @include pad(5vh 0.5em 0);

  a.logo-main  {
    font-weight: 600;
    font-size: 1.5em;
    letter-spacing: -0.04em;
    color: white;
    text-shadow: 1px 1px 0.5px rgba(0,0,0,0.8);

    @include media($tablet) {
      font-size: 2.5em;
    }

    @include transition-duration(0.3s);
    span {
      opacity: 0.3;
      letter-spacing: 0.01em;
      line-height: 1em;
      margin: 0;
      font-weight: 300;
      color: rgba(255, 255, 255, 1);
      -webkit-animation: inhale 4s infinite;
      -moz-animation: inhale 4s infinite;
      animation: inhale 4s infinite;
    }

    &:hover span {
      opacity: 0.8;
      -webkit-animation: 0;
      -moz-animation: 0;
      animation: 0;
    }

  }
  p.logo-tagline {
   margin: 0;
   color: rgba(255, 255, 255, 0.5);
   text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.2);
   font-size: 0.65em;
   font-weight: 600;
   letter-spacing: 0.4px;
   @include media($tablet) {
     font-size: 0.8em;
     letter-spacing: 0.5px;
   }
    a {
       &:hover {
         color: rgba(255, 255, 255, 1);
       }
    }
  }

  .main-nav {
   padding: 0;
    li.nav-link {
      display: inline-block;
      color: rgba(153, 153, 153, 1);
      font-weight: 600;
      font-size: 0.65em;
      margin-right: 0.4em;
      @include media($tablet) {
        font-size: 0.8em;
        margin-right: 1em;
        a:hover,
        .selected a {
          border-bottom: 3px solid rgba(255, 255, 255, 0.5);
        }
      }
      &:first-child {
        margin-left: 0;
      }
      a {
        padding-bottom: 3px;
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 0.5px rgba(0,0,0,0.7);
        @include mobile-button();
        @include media($tablet) {
          opacity: 0.5;
          @include transition-duration(0.3s);
          &:hover {
            opacity: 1;
          }
        }
      }
      .selected a {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
      }
    }
  }

  .nav-left,
  .nav-right {
    text-align: center;
  }

  // for larger devices
  @include media($tablet) {
    @include pad(5vh 2em 0);
    .nav-left,
    .nav-right {
      @include span-columns(6, block-collapse);
    }
    .nav-left {
      text-align: left;
    }
    .nav-right {
      text-align: right;
    }
  }
}
