.welcome-banner {
  @include span-columns(12);
  @include pad(15% 0 0);
  @include media($tablet) {
   @include pad(15% 0.5em 0);
  }
  .welcome-text {
    @include fill-parent()
    p {
      color: white;
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1em;
      text-shadow: 1px 1px 0.5px rgba(0,0,0,0.8);
      text-align: center;
      @include media($tablet) {
       font-size: 1.6em;
      }
    }
    .typed-cursor{
        color: tint($primary-color,50%);
        vertical-align: middle;
        font-size: 1.5em;
        font-weight: 300;
        opacity: 0.8;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
  }
}
#bg-img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /*background-color: rgba(255, 0, 0, 0.1);*/
    background-size: cover;
}
#bg-dark {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
}
.duration {
 -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

hr {
background-color:rgba(153, 153, 153, 1);
border-width:0;
color:rgba(153, 153, 153, 1);
height:2px;
line-height:0;
page-break-after:always;
text-align:center;
width:100%;
}

.paragraph {
   background: rgba(0, 0, 0, 0.3);
   color: white;
   /*color: rgba(255, 0, 0, 0.8);*/
   padding: 20px 30px;
   border-radius: 3px;
}

.text-shadow {
  text-shadow: 1px 1px 0.5px rgba(0,0,0,0.8);
}
.text-shadow-light {
  text-shadow: 1px 1px 0.5px rgba(255,255,255,0.8);
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
