.welcome-banner {
  @include span-columns(12);
  @include pad(15% 0.1em 0);
  @include media($tablet) {
   @include pad(15% 0.5em 0);
  }
  .welcome-text {
    @include fill-parent()
    p.tagline {
      color: white;
      font-size: 0.9em;
      font-weight: 300;
      line-height: 1em;
      text-shadow: 1px 1px 0.5px rgba(0,0,0,0.8);
      text-align: center;
      @include media($tablet) {
       font-size: 1.6em;
      }
    }
    .typed-cursor {
        color: tint($primary-color,50%);
        vertical-align: middle;
        font-size: 1.5em;
        font-weight: 300;
        opacity: 0.8;
        -webkit-animation: blink 0.7s infinite;
        -moz-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }
    p.action-button {
      text-align: center;
      font-size: 0.8em;
      color: rgba(255,255,255,0.7);
      text-shadow: none;
      font-weight: 600;
      a {
        display: inline-block;
        @include pad(0.1em 0.8em);
        background: rgba(255,255,255,0.1);
        @include border-top-radius(3px);
        @include border-bottom-radius(3px);
        @include transition-duration(0.3s);
        -webkit-animation: breathe 4s infinite;
        -moz-animation: breathe 4s infinite;
        animation: breathe 4s infinite;
        &:hover {
          -webkit-animation: 0;
          -moz-animation: 0;
          animation: 0;
          background: white;
          background: rgba(255,255,255,0.3);
          color: $secondary-color;
          color: rgba(255,255,255,1);
        }
      }
    }
  }
}
#bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    background: linear-gradient(-110deg, rgba(72,34,125,0.85) 0%, rgba(47,86,156,0.85) 100%), url('/img/welcome.jpeg'); background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover;
}
#bg-dark {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    background-size: cover;
}
.duration {
 -webkit-transition-duration: 300ms;
  -moz-transition-duration: 300ms;
  -o-transition-duration: 300ms;
  transition-duration: 300ms;
}

hr {
background-color:rgba(153, 153, 153, 1);
border-width:0;
color:rgba(153, 153, 153, 1);
height:2px;
line-height:0;
page-break-after:always;
text-align:center;
width:100%;
}

.paragraph {
   background: rgba(0, 0, 0, 0.3);
   color: white;
   /*color: rgba(255, 0, 0, 0.8);*/
   padding: 20px 30px;
   border-radius: 3px;
}

.text-shadow {
  text-shadow: 1px 1px 0.5px rgba(0,0,0,0.8);
}
.text-shadow-light {
  text-shadow: 1px 1px 0.5px rgba(255,255,255,0.8);
}
